zappy_server
zappy_ai
zappy_gui
*.o
*.a
Cargo.lock
target/
coding-style-reports.log
.cache
.vscode
compile_commands.json
*gc*
server-tester-bin
liblogger.a
libmy.a
doc/ai
doc/gui
doc/server
server/doc
gui/doc
*.so
